<div class="card-panel">
  <div class="card-content dark-text">
    <div class="row">
      <div class="col s8 m8">
        <h6 class="card-title"><strong>Preço Por Página:</strong>
          <%= sale.unitPrice %>
        </h6>
        <h6 class="dark-text"><strong>Preço unitário a partir de: <%= sale.unitPriceStartsOnPage %> páginas</strong></h6>
        <p class="dark-text"><strong>Data de criação:</strong>
          <%= new Intl.DateTimeFormat('pt-BR').format(sale.createdAt) %>
        </p>
      </div>
      <div class="col s4 m4">
        <div class="right-align">
          <a class="waves-effect waves-light btn-small green darken-1" href="/sale/edit/<%= sale.id %>">
            Editar
          </a>
          <a class="waves-effect waves-light btn-small  red darken-1" href="/sales/delete/<%= sale.id %>"
            onclick="return confirm('Quer mesmo deletar este item?');">
            Excluir
          </a>
          
        </div>
      </div>

    </div>
  </div>
  <div class="divider"></div>&nbsp;
</div>