<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../partials/head') %>
  <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>

  <main class="container">
    <div id="login-page" class="row">
      <div class="col s12 m6 offset-m6 l6 offset-l3 z-depth-1 card-panel hoverable">
        <form class="login-form" action="/signup" method="POST" name="formulario-signup">
          <div class="row">
            <div class="col s12 center">
              <img src="images/logo-positivo-small.png" alt="" class="circle responsive-img valign profile-image-login">
            </div>
            <div class="col s10 offset-s1 m10 offset-m1 ">
              <div class="input-field">
                <i class="material-icons prefix">account_box</i>
                <input class="validate" id="username" name="username" type="text" required  value="<%=user.username%>">
                <label for="username">Nome de usuário</label>
                <span class="helper-text" data-error="Nome de usuário é obrigatório"></span>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">email_outline</i>
                <input class="validate" id="email" name="email" type="email" required value="<%=user.email%>">
                <label for="email">E-mail</label>
                <span class="helper-text" data-error="E-mail inválido"></span>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">work_outline</i>
                <input class="validate" id="work" name="company" type="text" required value="<%=user.company%>">
                <label for="work">Nome da empresa</label>
                <span class="helper-text" data-error="Nome da empresa é obrigatório"></span>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock_outline</i>
                <input class="validate" id="password" name="password" type="password" required>
                <label for="password">Senha</label>
                <span class="helper-text" data-error="Senha é obrigatória"></span>
              </div>
              <div class="input-field">
                <p>
                  <label>
                    <input type="checkbox" class="filled-in" name="terms" />
                    <span>Aceito os termos e condições</span>
                    <p>Leia os termos clicando <a target="_blank" href="/docs/termo-consentimento.pdf">aqui</a></p>
                  </label>
                  </p>

              </div>
              <div class="input-field">
                <input type="submit" class="btn waves-effect waves-light" value="Registrar"/>&nbsp;
                <p class="margin medium-small center-align">Já tem uma conta? <a href="/login">Faça Login</a> </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>


  <%- include('../partials/footer') %>

  <% if (error) { %>
  <script>M.toast({ html: "<%= error %>" });</script>
  <% } %>

</body>

</html>