<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../partials/head') %>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <%- include ('../partials/header-login', {user: user}) %>

  <main class="container">
    <div class="row">
      <div class="col s3 offset-s3">
        <a class="btn-floating btn-large waves-effect waves-light green" href="/sale">
          <i class="large material-icons">keyboard_backspace</i>
        </a>
      </div>
    </div>
    <div id="login-page" class="row">
      <div class="col s12 m6 offset-m6 l6 offset-l3 z-depth-1 card-panel hoverable">
        <form class="login-form" action="<%= !isUpdate ? '/sales' : '/sales/' + sale.id %>" method="POST">
          <div class="row">
            <div class="col s12 center">
              <img src="images/logo-positivo-small.png" alt="" class="circle responsive-img valign profile-image-login">
            </div>
            <div class="col s10 offset-s1 m10 offset-m1 ">
              <div class="input-field">
                <i class="material-icons prefix">attach_money</i>
                <input id="unitPrice" name="unitPrice" step="0.0001" type="number" required  value="<%=sale.unitPrice%>">
                <label for="unitPrice">Preço de Cada Página</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">pages</i>
                <input id="unitPriceStartsOnPage" step="1" name="unitPriceStartsOnPage" type="number" required value="<%=sale.unitPriceStartsOnPage%>">
                <label for="unitPriceStartsOnPage">A partir de quantas páginas o preço unitário será este?</label>
              </div>
              <div class="input-field">
                <button class="btn waves-effect waves-light col s12">Salvar</button>&nbsp;
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>


  <%- include('../partials/footer') %>

  <% if (error) { %>
    <script>M.toast({ html: "<%= error %>" });</script>
  <% } %>

</body>

</html>